<%- contentFor('HeaderCss') %>
<!-- DataTables -->
<link href="public/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="public/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="public/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<%- contentFor('breadcrumb') %>
<div class="col-sm-6">
    <h4 class="page-title">User Table</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">artBeatz</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0);">Users</a></li>
        <li class="breadcrumb-item active">Customer</li>
    </ol>
</div>

<%- contentFor('body') %>

<div class="col-sm-6">
    <h4 class="page-title">User Table</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">artBeatz</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0);">Users</a></li>
        <li class="breadcrumb-item active">Customer</li>
    </ol>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="mt-0 header-title">Edit Category</h4>
                <form data-toggle="validator" action="/updatebanner" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="<%=result.id%>">
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value="<%=result.title%>" id="example-text-input"
                                name="title">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2 col-form-label">Heading</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value="<%=result.heading%>" id="example-text-input"
                                name="heading">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value="<%=result.description%>"
                                id="example-text-input" name="description">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2 col-form-label">Web URL</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value="<%=result.web_url%>" id="example-text-input"
                                name="web_url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label label-default">Image</label>
                        <img src="<%= result.image %>" height="50" width="50">
                    </div>
                    <div class="form-group">
                        <label class="label label-default">New Image</label>
                        <input type="file" style="padding-bottom: 50px" name="image" class="form-control">
                    </div>
                    <div class="visible-sm clearfix mt-sm mb-sm"></div>

                    <div class="clearfix visible-xs mb-sm"></div>


                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">
                                Submit
                            </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- end col  -->
</div> <!-- end row -->

</div>
</div>

<%- contentFor('FooterJs') %>

<!-- Required datatable js -->
<script src="public/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="public/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="public/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="public/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="public/plugins/datatables/jszip.min.js"></script>
<script src="public/plugins/datatables/pdfmake.min.js"></script>
<script src="public/plugins/datatables/vfs_fonts.js"></script>
<script src="public/plugins/datatables/buttons.html5.min.js"></script>
<script src="public/plugins/datatables/buttons.print.min.js"></script>
<script src="public/plugins/datatables/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="public/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="public/plugins/datatables/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="public/assets/pages/datatables.init.js"></script>
<script src="public/assets/js/app.js"></script>
<%- contentFor('BottomJs') %>

<!-- Required datatable js -->



<!-- <script>
  
  </script> -->


<!-- <script type="text/javascript">
    var id = "";
    function setId(x)
    {
        // alert(x);
        id = x;
    }
    function callHref()
    {
        // alert(id);
        document.getElementById(id).click();
    }
</script>  -->